
html {
  font-size: 24px;
}


@media (max-width: 767px) {
  html {
    font-size: 22px;
  }
}


@media (min-width: 768px) {
  html {
   font-size: 24px;
  }
}


@media (min-width: 992px) {
  html {
    font-size: 26px;
  }
}


@media (min-width: 1200px) {
  html {
    font-size: 28px;
  }
}


.container {
  max-width: 900px;
  margin: 0 auto;
}


h1 {
  font-size: 32px;
}

h3 {
  font-size: 16px;
}

p {
  font-size: 16px;
}


.navbar {
  background: navy;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px (black);
  margin-bottom: 20px;
  justify-content: center;
}

.navbar-brand {
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav-link {
  color: whitesmoke;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: aliceblue;
}


header,
footer {
  padding: 10px 0;
  text-align: center;
  color: azure;
}

button,
.btn {
  color: white;
  padding: 8px 16px;
  font-size: 0.9rem;
  border: 2px solid grey;
  transition: all 0.3s ease;
}

button:hover,
.btn:hover {
  border-color: grey;
  box-shadow: 0 0 20px aliceblue;
}


.input-group.date {
  background: black;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgb(49, 48, 48);
  backdrop-filter: blur(10.2px);
  -webkit-backdrop-filter: blur(10.2px);
  border: 1px solid black;
}

.input-group.date .form-control {
  background: transparent;
  color: white;
  box-shadow: none;
  border: 2px solid grey;
  transition: all 0.3s ease;
}


input[type="date"] {
  color: white;
  background-color: transparent;
  border: 2px solid grey;
  transition: all 0.3s ease;
}

input[type="date"]:hover,
input[type="date"]:focus {
  border-color: grey;
  box-shadow: 0 0 20px whitesmoke;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  opacity: 1;
  cursor: pointer;
}


.card,
.glass {
  background: black;
  border-radius: 16px;
  box-shadow: 0 px 30px black;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid black;
}


#apodImage {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 200px;
}

/* TODO 28: Adjust APOD image area heights for different screen sizes */
@media (max-width: 576px) {
  #apodImage {
    min-height: 200px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  #apodImage {
    min-height: 300px;
  }
}

@media (min-width: 769px) {
  #apodImage {
    min-height: 400px;
  }
}


.navbar,
.h3,
.container {
  z-index: 1;
  color: white;
}


#video-background {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
}
